@import url(..//css/font.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
  font-family: Montserrat-Regular;
  transition: all ease-in-out 0.5s;
  background-image: url(..//img/Bg.png);
  background-color: #15161f;
  color: #fff;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}
a {
  text-decoration: none;
  display: inline-flex;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.gradient-bg {
  background: linear-gradient(0deg, #1a7bee 0%, #0cc9fa 100%),
    linear-gradient(0deg, #1875c5 0%, #52c4e0 100%),
    linear-gradient(0deg, #1a7bee 0%, #0ad1fb 100%), #15296d;
}
/* Contact-btn */
.contact-btn {
  padding: 15px 30px;
}
.contact-btn p {
  font-size: 18px;
  margin-left: 15px;
}
/* END-Contact-btn */
/* Flex-classes */
.d-flex {
  display: flex;
}
.d-flex-align {
  align-items: center;
}
.d-flex-justify-center {
  justify-content: center;
}
.d-flex-justify-between {
  justify-content: space-between;
}
.d-50 {
  width: 48%;
}
/* END-Flex-classes */
/* Container */
.container {
  margin: auto;
  padding: 0px 15px;
}
@media only screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 576px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) and (min-width: 100px) {
  .container {
    margin: auto;
    padding: 0px 15px;
    width: 100%;
  }
}
/* END-Container */
.mobile-view {
  display: none;
}
#menuToggle {
  position: relative;
  top: 0px;
  right: 0px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  /* transition: color 0.3s ease; */
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 400px;
  height: 100vh;
  margin: -85px 0 0 -240px;
  padding: 50px;
  padding-top: 125px;
  background: #2d2e34;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  display: none;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 15px 0px;
}
#menu li a {
  color: #fff;
  font-size: 22px;
  text-transform: capitalize;
}
#menu li .head-email img {
  margin-right: 15px;
}
#menuToggle input:checked ~ ul {
  transform: none;
  display: block;
}

.bg-top {
  position: relative;
  z-index: 9;
  min-height: 110vh;
}
.bg-top::after {
  content: "";
  position: absolute;
  background-color: #0d0e13;
  clip-path: polygon(100% 0, 100% 52%, 0 99%, 0 0);
  width: 100%;
  height: 110vh;
  top: 0px;
  z-index: -1;
}
.bg-top::before {
  content: "";
  position: absolute;
  background-image: url(..//img/arrow-header.svg);
  width: 208px;
  height: 193px;
  bottom: -60px;
  left: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* default-head */
.default-head .default-element-img {
  width: 40%;
}
.default-head .default-head-dec {
  width: 60%;
}
.default-head .default-head-dec h2 {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 60px;
  margin-bottom: 7px;
  font-family: Oswald-Bold;
}
.default-head .default-head-dec h2 span {
  background: linear-gradient(0deg, #1a7bee 0%, #0cc9fa 100%), #1980ef;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.default-head .default-head-dec p {
  font-size: 18px;
  font-family: OpenSans-Regular;
}
/* END-default-head */
/* header-main */
.header-main .header-inner {
  padding: 42px 0px;
}
.header-main .header-inner .brand-logo {
  width: 240px;
}
.header-main .header-inner .header-menu ul li {
  padding: 0px 20px;
}
.header-main .header-inner .header-menu ul li a {
  font-size: 16px;
  text-transform: capitalize;
  padding: 0;
}
.header-main .header-inner .header-end .head-email .head-email-icon {
  background: #181920;
  border-radius: 30px;
  width: 48px;
  height: 48px;
}
.header-main .header-inner .header-end .head-email .head-email-dec {
  margin-left: 12px;
}
.header-main .header-inner .header-end .head-email .head-email-dec h4 {
  font-size: 12px;
  font-family: Montserrat-Bold;
  margin-bottom: 5px;
}
.header-main .header-inner .header-end .head-email .head-email-dec a {
  font-size: 16px;
}
.header-main .header-inner .header-end .contact-btn {
  margin-left: 30px;
}

/* END-header-main */
/* banner-section */
.banner-section .banner-inner .banner-dec-area {
  width: 40%;
  position: relative;
  padding-left: 70px;
  margin-top: 80px;
}
.banner-section .banner-inner .banner-dec-area::before {
  content: "";
  position: absolute;
  background-image: url(..//img/left-element.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 4px;
  height: 100%;
  left: 0px;
  top: -100px;
}
.banner-section .banner-inner .banner-dec-area::after {
  content: "";
  position: absolute;
  background-image: url(..//img/header-element.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 170px;
  height: 14px;
  left: 0px;
  bottom: 150px;
}
.banner-section .banner-inner .banner-dec-area h2 {
  font-family: Oswald-Bold;
  font-size: 55px;
  margin-top: 30px;
  margin-bottom: 17px;
  line-height: 71px;
  text-transform: capitalize;
  width: 70%;
}
.banner-section .banner-inner .banner-dec-area a {
  font-size: 15px;
  text-transform: capitalize;
  padding: 16px 24px;
  font-family: Montserrat-SemiBold;
  border: none;
  color: #fff;
}
.banner-section .banner-inner .banner-img {
  width: 60%;
}
/*END-banner-section */
/* about-section */
.about-section {
  padding: 110px 0px;
}
.about-section .about-inner .about-wrap {
  position: relative;
  z-index: 9;
  padding: 80px 70px;
}
.about-section .about-inner .about-wrap::after {
  content: "";
  position: absolute;
  background-image: url(..//img/about-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 511px;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.about-section .about-inner {
  position: relative;
}
.about-section .about-inner::before {
  content: "";
  position: absolute;
  background-image: url(..//img/about-element.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 170px;
  height: 14px;
  left: 0px;
  top: -40px;
}
.about-section .about-inner::after {
  content: "";
  position: absolute;
  background-image: url(..//img/about-last.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 53px;
  left: 0px;
  bottom: -100px;
}
.about-section .about-inner .about-wrap .about-dec {
  width: 870px;
  margin-left: 50px;
  padding-left: 50px;
  position: relative;
}
.about-section .about-inner .about-wrap .about-dec::before {
  content: "";
  position: absolute;
  background-image: url(..//img/left-element.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 4px;
  height: 100%;
  left: 0px;
  top: -0px;
}
.about-section .about-inner .about-wrap .about-dec h2 {
  font-size: 40px;
  font-family: Oswald-Bold;
  margin-bottom: 17px;
}
.about-section .about-inner .about-wrap .about-dec h2 span {
  color: #45abd4;
}
.about-section .about-inner .about-wrap .about-dec p {
  font-size: 18px;
  font-family: OpenSans-Regular;
  margin-bottom: 35px;
}
.about-section .about-inner .about-wrap .about-dec .about-phone a {
  padding: 15px 30px;
  display: inline-flex;
}
.about-section .about-inner .about-wrap .about-dec .about-phone p {
  font-size: 18px;
  margin-left: 15px;
  margin-bottom: 0px;
}
/* END-about-section */
/* our-services */
.our-services {
  padding: 110px 0px;
}
.our-services .service-body {
  margin-top: 110px;
  position: relative;
}
.our-services .service-body .slider::after {
  content: "";
  position: absolute;
  width: 138px;
  height: 182px;
  right: -80px;
  bottom: 20px;
  z-index: -1;
  background-image: url(..//img/service.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.our-services .service-body .service-wrap-box {
  background: #0f1117;
  box-shadow: inset 0px -3.48896px 0px #178cf1;
  border-radius: 10px;
  padding: 45px 35px;
  position: relative;
}
.our-services .service-body .service-wrap-box h1 {
  color: #0cc9fa;
  font-size: 35px;
  line-height: 35px;
  font-family: Oswald-Bold;
  margin-bottom: 18px;
  letter-spacing: 1px;
}
.our-services .service-body .service-wrap-box span {
  position: absolute;
  color: #0cc9fa;
  font-family: Oswald-Bold;
  font-size: 143px;
  line-height: 133px;
  text-transform: uppercase;
  letter-spacing: 4px;
  opacity: 0.03;
  top: 30px;
  left: 20px;
}
.our-services .service-body .service-wrap-box h2 {
  font-size: 25px;
  font-family: Montserrat-Bold;
  line-height: 35px;
  margin-bottom: 35px;
}
.our-services .service-body .service-wrap-box .service-wrap-img {
  text-align: center;
}
.our-services .service-body .service-wrap-box p {
  font-size: 18px;
  line-height: 29px;
  font-family: OpenSans-Regular;
  margin-top: 35px;
  min-height: 240px;
}
.our-services .service-body .service-contact-btn {
  text-align: center;
  margin-top: 65px;
}
.our-services .service-body .service-contact-btn a {
  padding: 20px 30px;
}
.our-services .service-body .service-contact-btn a p {
  font-size: 18px;
  margin-left: 15px;
  margin-bottom: 0px;
}
/* our-partner */
.our-partner {
  margin-bottom: 150px;
}
.our-partner .our-partner-body {
  margin-top: 50px;
}
.our-partner .our-partner-body .Partners-logo {
  width: 70%;
  margin: auto;
}
/* END-our-partner */
/* contact-section */
.contact-section {
  background-color: #0f1117;
  padding: 100px 0px;
}
.contact-section .contact-inner .contact-us-wrap {
  width: 30%;
}
.contact-section .contact-inner .contact-us-wrap h2 {
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 27px;
  font-family: Oswald-Bold;
}
.contact-section .contact-inner .contact-us-wrap .brand-logo {
  width: 240px;
  margin-bottom: 40px;
}
.contact-section .contact-inner .contact-us-wrap ul li {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.contact-section .contact-inner .contact-us-wrap ul li .contact-left-dec {
  margin-left: 16px;
}
.contact-section .contact-inner .contact-us-wrap ul li p {
  font-size: 16px;
  margin-bottom: 9px;
  line-height: 22px;
  font-family: OpenSans-Regular;
}
.contact-section .contact-form {
  width: 50%;
}
.contact-section .contact-form p {
  font-size: 24px;
  line-height: 33px;
  font-family: OpenSans-Regular;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 1);
}
.contact-section .contact-form .form-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}
.contact-section .contact-form .form-list label {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 12px;
}
.contact-section .contact-form .form-list input {
  width: 100%;
  background: rgba(202, 205, 209, 0.1);
  border-radius: 2px;
  padding: 19px 16px;
  font-size: 14px;
  line-height: 15px;
  color: rgba(169, 169, 170, 0.6);
  border: none;
}
.contact-section .contact-form .form-list textarea {
  width: 100%;
  background: rgba(202, 205, 209, 0.1);
  border-radius: 2px;
  padding: 19px 16px;
  font-size: 14px;
  line-height: 15px;
  color: rgba(169, 169, 170, 0.6);
  border: none;
}
.contact-section .contact-form .form-list textarea::placeholder,
.contact-section .contact-form .form-list input::placeholder {
  font-size: 12px;
}
.contact-section .contact-form button {
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 16px 24px;
  border: none;
  font-family: Montserrat-SemiBold;
  margin-top: 60px;
}
/* END-contact-section */
@media only screen and (max-width: 1400px) {
  .about-section .about-inner .about-wrap {
    padding: 30px;
  }
  .about-section .about-inner .about-wrap .about-dec {
    width: 620px;
  }
  .about-section .about-inner .about-wrap .about-dec h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .about-section .about-inner .about-wrap .about-dec p {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .about-section .about-inner .about-wrap::after {
    content: "";
    background-size: contain;
    height: 370px;
  }
  .about-section .about-inner .about-wrap .about-dec .about-phone a {
    padding: 10px 20px;
  }
  .about-section .about-inner .about-wrap .about-dec .about-phone img {
    width: 20px;
  }
  .default-head .default-element-img img {
    width: 80%;
  }
  .our-services {
    padding: 70px 0px;
  }
  .our-services .service-body {
    margin-top: 70px;
  }
  .our-services .service-body .service-wrap-box h2 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 35px;
  }
  .our-services .service-body .service-wrap-box p {
    font-size: 16px;
    line-height: 25px;
    margin-top: 35px;
    min-height: 280px;
  }
  .about-section .about-inner .about-wrap .about-dec .about-phone p {
    font-size: 16px;
    margin-left: 10px;
  }
  .bg-top::before {
    content: "";
    width: 158px;
    height: 153px;
    bottom: -30px;
  }
  .banner-section .banner-inner .banner-dec-area::before {
    content: "";
    top: -10px;
  }
  .banner-section .banner-inner .banner-dec-area h2 {
    width: 100%;
  }
  .banner-section .banner-inner .banner-dec-area {
    padding-left: 40px;
    margin-top: 50px;
  }
  .header-main .header-inner .header-end .head-email .head-email-dec {
    display: none;
  }
  .header-main .header-inner .header-end .contact-btn {
    margin-left: 20px;
  }
  .header-main .header-inner .header-end .contact-btn p {
    display: none;
  }
  .banner-section .banner-inner .banner-dec-area::after {
    content: "";
    bottom: 0px;
  }
}

@media only screen and (max-width: 1200px) {
  .our-services .service-body .slider::after {
    content: "";
    right: 0px;
    bottom: -80px;
  }
}
@media only screen and (max-width: 992px) {
  .header-main .header-inner .header-menu {
    display: none;
  }
  .header-main .header-inner .header-end {
    display: none;
  }
  .mobile-view {
    display: block;
  }
  .banner-section .banner-inner .banner-dec-area {
    width: 50%;
  }
  .banner-section .banner-inner .banner-img {
    width: 50%;
  }
  .banner-section .banner-inner .banner-dec-area h2 {
    margin-top: 0px;
    font-size: 45px;
    line-height: 58px;
  }
  .banner-section .banner-inner .banner-dec-area {
    padding-left: 40px;
    margin-top: 20px;
  }
  .banner-section .banner-inner .banner-dec-area::after {
    content: "";
    bottom: -50px;
  }
  .bg-top::before {
    content: "";
    width: 148px;
    height: 143px;
    bottom: 0px;
  }
  .about-section .about-inner .about-wrap::after {
    content: none;
  }
  .about-section .about-inner .about-wrap {
    padding: 0px;
  }
  .about-section .about-inner .about-wrap .about-dec {
    width: 100%;
    margin: 0px;
  }
  .about-section .about-inner .about-wrap .about-dec h2 {
    font-size: 40px;
  }
  .about-section .about-inner .about-wrap .about-dec p {
    font-size: 18px;
    margin-bottom: 35px;
  }
  .our-services .default-head,
  .our-partner .default-head {
    display: block;
  }
  .default-head .default-element-img {
    width: 100%;
    margin-bottom: 20px;
  }
  .default-head .default-head-dec {
    width: 100%;
  }
  .contact-section .contact-inner .contact-us-wrap {
    width: 50%;
  }
  .bg-top::after {
    content: "";
    clip-path: polygon(100% 0, 100% 72%, 0 99%, 0 0);
  }
}
@media only screen and (max-width: 768px) {
  #menu {
    margin: -56px 0 0 -252px;
    width: 300px;
    padding: 130px 25px 0px;
  }
  #menu li a {
    font-size: 18px;
  }
  .contact-btn p {
    font-size: 14px;
    margin-left: 10px;
  }
  .header-main .header-inner .brand-logo {
    width: 180px;
  }
  .header-main .header-inner {
    padding: 20px 0px;
  }
  /* #menuToggle span {
    width: 25px;
  }
  #menuToggle input {
    width: 30px;
    height: 22px;
  }
  #menuToggle span {
    width: 25px;
  }
  #menuToggle input:checked ~ span {
    transform: rotate(50deg) translate(-3px, 0px);
  } */
}
@media only screen and (max-width: 767px) {
  .bg-top {
    min-height: 90vh;
  }
  .banner-section .banner-inner {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 10%;
  }
  .banner-section .banner-inner .banner-dec-area {
    width: 100%;
    padding-left: 20px;
    margin-top: 20px;
  }
  .our-services .service-body .service-wrap-box p {
    min-height: auto;
  }
  .contact-section .contact-inner {
    display: block;
  }
  .contact-section .contact-inner .contact-us-wrap,
  .contact-section .contact-form {
    width: 100%;
  }
  .contact-section .contact-form p {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  .contact-section .contact-form button {
    font-size: 12px;
    margin-top: 30px;
  }
  .banner-section .banner-inner .banner-dec-area h2 {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 35px;
  }
  .about-section .about-inner .about-wrap .about-dec {
    padding-left: 30px;
  }
}
@media only screen and (max-width: 525px) {
  .about-section .about-inner .about-wrap .about-dec h2,
  .default-head .default-head-dec h2,
  .default-head .default-head-dec h2,
  .contact-section .contact-inner .contact-us-wrap h2 {
    font-size: 35px;
  }
  .about-section .about-inner .about-wrap .about-dec p,
  .default-head .default-head-dec p,
  .default-head .default-head-dec p {
    font-size: 16px;
  }
  .our-services .service-body .service-wrap-box {
    padding: 25px 15px;
  }
  .our-services .service-body .service-contact-btn {
    margin-top: 25px;
    z-index: 9;
    position: relative;
  }
  .our-partner {
    margin-bottom: 80px;
  }
  .contact-section {
    padding: 50px 0px;
  }
  .contact-section .contact-form .contact-form-inner {
    display: block;
  }
  .contact-section .contact-form .form-list {
    width: 100%;
    margin-top: 20px;
  }
  .our-partner .our-partner-body .Partners-logo {
    width: 90%;
  }
  .bg-top::before {
    content: "";
    left: 15px;
  }
  .bg-top::after {
    content: "";
    clip-path: polygon(100% 0, 100% 80%, 0 99%, 0 0);
    height: 90vh;
  }
  .our-services {
    padding: 50px 0px;
  }
  .our-services .service-body {
    margin-top: 30px;
  }
  .our-services .service-body .slider::after {
    content: "";
    right: 0px;
    bottom: -40px;
  }
}
