@import url(..//css/font.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
  font-family: Montserrat-Regular;
  transition: all ease-in-out 0.5s;
  background-image: url(..//img/Bg.png);
  background-color: #15161f;
  color: #fff;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.gradient-bg {
  background: linear-gradient(0deg, #1a7bee 0%, #0cc9fa 100%),
    linear-gradient(0deg, #1875c5 0%, #52c4e0 100%),
    linear-gradient(0deg, #1a7bee 0%, #0ad1fb 100%), #15296d;
}
/* Flex-classes */
.d-flex {
  display: flex;
}
.d-flex-align {
  align-items: center;
}
.d-flex-justify-center {
  justify-content: center;
}
.d-flex-justify-between {
  justify-content: space-between;
}
/* END-Flex-classes */
/* Container */
.container {
  margin: auto;
  padding: 0px 15px;
}
@media only screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    width: 960px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 720px;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}
/* END-Container */
.bg-top {
  position: relative;
  z-index: 9;
}
.bg-top::after {
  content: "";
  position: absolute;
  background-color: #0d0e13;
  clip-path: polygon(100% 0, 100% 52%, 0 99%, 0 0);
  width: 100%;
  height: 110vh;
  top: 0px;
  z-index: -1;
}
.bg-top::before {
  content: "";
  position: absolute;
  background-image: url(..//img/arrow-header.png);
  width: 208px;
  height: 193px;
  bottom: -60px;
  left: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* header-main */
.header-main .header-inner {
  padding: 42px 0px;
}
.header-main .header-inner .brand-logo {
  width: 240px;
}
.header-main .header-inner .header-menu ul li {
  padding: 0px 20px;
}
.header-main .header-inner .header-menu ul li a {
  font-size: 16px;
  text-transform: capitalize;
  padding: 0;
}
.header-main .header-inner .header-end .head-email .head-email-icon {
  background: #181920;
  border-radius: 30px;
  width: 48px;
  height: 48px;
}
.header-main .header-inner .header-end .head-email .head-email-dec {
  margin-left: 12px;
}
.header-main .header-inner .header-end .head-email .head-email-dec h4 {
  font-size: 12px;
  font-family: Montserrat-Bold;
  margin-bottom: 5px;
}
.header-main .header-inner .header-end .head-email .head-email-dec a {
  font-size: 16px;
}
.header-main .header-inner .header-end .head-phone {
  padding: 15px 30px;
  margin-left: 30px;
}
.header-main .header-inner .header-end .head-phone p {
  font-size: 18px;
  margin-left: 15px;
}
/* banner-section */
.banner-section .banner-inner .banner-dec-area {
  width: 40%;
  position: relative;
  padding-left: 70px;
  margin-top: 80px;
}
.banner-section .banner-inner .banner-dec-area::before {
  content: "";
  position: absolute;
  background-image: url(..//img/left-element.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 4px;
  height: 100%;
  left: 0px;
  top: -100px;
}
.banner-section .banner-inner .banner-dec-area::after {
  content: "";
  position: absolute;
  background-image: url(..//img/header-element.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 170px;
  height: 14px;
  left: 0px;
  bottom: 150px;
}
.banner-section .banner-inner .banner-dec-area h2 {
  font-family: Oswald-Bold;
  font-size: 55px;
  margin-top: 30px;
  margin-bottom: 17px;
  line-height: 71px;
  text-transform: capitalize;
  width: 70%;
}
.banner-section .banner-inner .banner-dec-area button {
  font-size: 15px;
  text-transform: capitalize;
  padding: 16px 24px;
  font-family: Montserrat-SemiBold;
  border: none;
  color: #fff;
}
.banner-section .banner-inner .banner-img {
  width: 60%;
}
